# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore Flask database files
instance/
*.db

# Ignore VS Code settings (optional)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
